# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env

# OS
.DS_Store

# Logs
*.log

__pycache__/
*.pyc



# Local DB
calcio.db
backend/calcio.db

# Backups / dumps / misc
*.bak
backend/*.dump
backend/*.sql

# Env
.env
